h1,
h2 {
  font-size: 3rem;
  font-weight: 400;
}
h3 {
  font-size: 1.5rem;
}

.header {
  width: 60vw;
}

.header__logo__container {
  position: absolute;
  left: 7rem;
  bottom: -5rem;
}
.header__hamburger__container,
.header__nav__close__container {
  display: none;
}

.header__nav {
  display: block;
  width: 25vw;
  padding-left: 15rem;
  margin-top: 0.5rem;
  background-color: transparent;
}

.header__nav__element a {
  color: var(--Color1);
}

.header__nav__element:hover {
  border-bottom: 0.1rem solid var(--Color1);
}

.slider {
  top: 45rem;
  left: 60%;
  width: max-content;
  height: 8rem;
}

.slider--left,
.slider--right {
  height: 8rem;
  width: 8rem;
}

.section {
  display: grid;
  grid-template-columns: 60% 40%;
}

.section__figure__container {
  height: 53rem;
  width: 100%;
}

.section__content {
  width: 65%;
  margin-top: 5rem;
}

.section__arrow__container {
  display: flex;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin: 0rem;
}

.secondarySection {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}

.secondarySection__image__container {
  width: 100%;
  margin: 0;
  height: 100%;
}
.secondarySection__image {
  height: 100%;
}
.secondarySection__content {
  width: 80%;
  margin: 8% 10% 0 10%;
}
